rdflib
rdfextras
-e git://github.com/maparent/pyodbc.git@v2.1#egg=pyodbc
-e svn+http://surfrdf.googlecode.com/svn/trunk/#egg=surf
-e hg+https://bitbucket.org/maparent/virtuoso#egg=virtuoso
-e git://github.com/RDFLib/rdflib-sparqlstore.git#egg=rdflib-sparqlstore
